*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white:#ffffff;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd982;
    --sm: 1.4rem;
    --md:1.6rem;
    --lg:1.8rem;
}
html{
    font-size: 62.5%;
    font-family: "Quicksand";
}
body{
    font-size: 1.6rem;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
    border-bottom: 1px solid var(--very-light-pink);


}

.menu{
    display: none;
    width: 24px;

}

.logo{
    width: 100px; 
}

.navbar-left ul, .navbar-right ul{
    list-style: none;
    margin-top: 24px;
    display: flex;
}
.navbar-left{
    display: flex;
}

.navbar-left ul{
    margin-left: 12px;
}
.navbar-left ul li a ,.navbar-right ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white) ;
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover ,.navbar-right ul li a:hover{
    border: 1px solid var(--hospital-green) ;
    color: var(--hospital-green);
}
.navbar-email{
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 20px;
}
.navbar-shoping-cart{
    position: relative;

}
.navbar-shoping-cart div{
    width: 8px;
    height: 8px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -10px;
    right: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:640px) {
    .menu{
        display: block;
    }

    .navbar-left ul {
        display: none;
    }

    .navbar-email{
        display: none;
    }

}
